
.user-msg {
    position: fixed;
    bottom: -100px;
    right: 10px;
    background-color: #111;
    padding: 10px;
}

.user-msg.open {
    bottom: 10px;
    transition: bottom .5s;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.modal-content button {
    margin: 0 10px;
}
.modal p {
    margin: 10px 0;
    color: black;
}